head
    link(rel="stylesheet", type="text/css", href="/stylesheets/jquery-ui-1.10.4.custom.min.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")

body
    .note.default-note.small-note
    //.note.default-note.medium-note
    //.note.default-note.large-note
    .note.urgent-note.small-note
    .note.success-note.small-note



    script(src="/javascripts/jquery/jquery-1.10.2.js")
    script(src="/javascripts/jquery/jquery-ui-1.10.4.custom.min.js")
    script(src="/javascripts/main.js")