
/* Colors by http://clrs.cc*/
body {
    background-color: #DDDDDD;
}

#main {
    background-color: #DDDDDD;
    position: relative; 
    width: 100%;
    height: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

p {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 400;
    margin-right: 25;
    margin-left: 25;
    margin-bottom: 10;
    margin-top: 10; 
    text-align: center;
}

.note-text-input {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 400;
    margin-right: 25;
    margin-bottom: 10;
    margin-left: 5;
    margin-top: 5; 
    text-align: center;
    display: none;
    resize: none;
    width: auto; 
    height: auto;
    background-color:inherit;
    border-style:none;
}

.note {
/*
  -moz-box-shadow:    1px 1px 2px 3px #ccc;
  -webkit-box-shadow: 1px 1px 2px 3px #ccc;
  box-shadow:         1px 1px 2px 3px #ccc;
    */
    position:relative;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    
    /*
    border-style:groove;
    border-width:medium;
    */  
    height:80;
    width:200;
}

.note-nav {
    width: 15px;
    float:right;
    margin: 3px 3px 3px 3px;
    display:none;
}


.default-note {
    background-color: #FFE64C;
    
}

.success-note {
    background-color: #2ECC40;
    
}

.urgent-note {
    background-color: #FF4136;

}

#original {
    display:none;
}

/*
#main-ui {
    border-radius: 0 0 5px 5px;
    position:absolute;
    top:50px;
    left:-50px;
    width:100px;
    height:50px;
    background-color: white;
}
*/



/*
#open-main-ui {
    display:none;
    position:absolute;
    top:30px;
    right:0px;
}
*/